<h1>Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li>
      <a href="/contacts/<%= contact.id %>">
      <%= contact.name %> - <%= contact.phone_number %>
    </a>
    </li>
  <% end %>
</ul>

Current page : <%= params[:page] %></br></br>
<% for i in (1..length) %>
<a href="/contacts?page=<%= i %>"><%= i %></a>
<% end %>
